/* Colores personalizados */
:root {
    --main-bg-color: #f8f9fa; /* Color de fondo principal */
    --dark-bg-color: #333; /* Color de fondo oscuro */
    --text-color: #000; /* Color de texto principal */
    --label-color: #070707; /* Color de texto para etiquetas */
    --btn-text-color: #151414; /* Color de texto de botones */
    --btn-hover-bg-color: #0e6e87; /* Color de fondo del botón al pasar el mouse */
    --red-color: #ff0000; /* Color rojo personalizado */
}

/* Reutiliza colores personalizados en lugar de valores directos */
.logo {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.letra_roja {
    color: var(--red-color) !important;
}

/* Estilos generales para fondo y texto */
.dark-bg {
    background-color: var(--dark-bg-color);
    color: #fff;
}

/* Estilos para reducir el tamaño de los campos de entrada y etiquetas */
.custom-form .form-control {
    padding: 10px; /* Reducido para evitar campos grandes */
    font-size: 16px;
}

.custom-form label {
    font-size: 14px;
    color: var(--label-color);
}

/* Estilos para botones */
.custom-form .btn {
    color: var(--btn-text-color);
    transition: background-color 0.2s;
}

.custom-form .btn:hover {
    background-color: var(--btn-hover-bg-color);
}

/* Estilos para el fondo oscuro */
.dark-bg {
    background-color: var(--dark-bg-color);
}

/* Estilos para cambiar el color de la letra a blanco */
.custom-form, .custom-form label, .custom-form .btn, .custom-form .alert {
    color: var(--text-color);
}

.form-container {
    background-color: var(--main-bg-color);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: auto;
}



